html, body {
    height: 100%;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

#svg-container {
    width: 70%;
    height: 90%;
    margin: 10px auto 0 auto;

    border: 1px solid #1E2027;
    border-radius: 3px;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node {
    cursor: pointer;
    text-anchor: middle;
}

#btn {
    float: right;
}

#legend-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%; 

    background: #1E2027;
    color: white;
    box-shadow: 2px 0px 5px 0 #555;

    /* only used for initalizing legend */
    visibility: hidden;
}

#legend-container h2 {
    margin: 10px;
}

#legend {
    padding: 0 10px;
}

#legend h3 {
    margin: 5px 0;
}

#legend div {
    padding-top: 2px;
}

#legend input[type="radio"] {
    float: left;
}